@using System.Globalization;
@model ProjectManagement.Models.ViewModels.DashboardVM

@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="container-fluid">

    <main class="">
        <div class="row g-5">
            <div id="ConsultantByClientPartial" class="col-12">
                <partial name="_ConsultantByClient" model="Model.ConsultantByClientVM" />
            </div>

            <div id="RevenueByRecruiterPartial" class="col-12">
                <partial name="_RevenueByRecruiter" model="Model.RevenueByRecruiterVM" />
            </div>

            <div id="RevenueByClientPartial" class="col-12">
                <partial name="_RevenueByClient" model="Model.RevenueByClientVM" />
            </div>
        </div>
    </main>

</div>

@section Scripts {
    <script>
       
    </script>
}