@model ProjectManagement.Models.Consultant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Consultant</h4>
<hr />

<div class="col-md-7 col-lg-8">
    
        <div class="row g-3">

            <input type="hidden" asp-for="Id" />

            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <label asp-for="Name" class="input-group-text control-label"></label>
                    <input asp-for="Name" class="form-control" disabled="disabled"/>

                </div>
                
            </div>

            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="UniqueConsultantId" class="control-label input-group-text"></label>
                    <input asp-for="UniqueConsultantId" class="form-control" disabled="disabled"  />

                </div>
               
            </div>

            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="RecruiterMemberId" class="control-label input-group-text"></label>
                    <select asp-for="RecruiterMemberId" class="form-select" asp-items="ViewBag.RecruiterMemberId" disabled="disabled">
                        <option>Please Select</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="TeamMemberId" class="control-label input-group-text"></label>
                    <select asp-for="TeamMemberId" class="form-select" asp-items="ViewBag.TeamMemberId" disabled="disabled" >
                        <option>Please Select</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="ClientId" class="control-label input-group-text"></label>
                    @{
                        var clientlist = ViewBag.ClientId; 
                    }
                    <select asp-for="ClientId" class="form-select" asp-items="clientlist" disabled="disabled">
                        <option>Please Select</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="StartDate" class="control-label input-group-text"></label>
                            <input asp-for="StartDate" type="date" class="form-control" disabled="disabled" />
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="EndDate" class="control-label input-group-text"></label>
                            <input asp-for="EndDate" type="date" class="form-control" disabled="disabled" />
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="BillingRate" class="control-label input-group-text"></label>
                    <input asp-for="BillingRate" class="form-control" disabled="disabled" />
                    <span class="input-group-text">$</span>
                </div>
               
            </div>
            <div class="col-12">
                <div class="form-group input-group">
                    <label asp-for="PayRate" class="control-label input-group-text"></label>
                    <input asp-for="PayRate" class="form-control" disabled="disabled" />
                    <span class="input-group-text">$</span>
                </div>
               
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="TeamLeadFee" class="control-label input-group-text"></label>
                            <input asp-for="TeamLeadFee" class="form-control" disabled="disabled" />
                            <span class="input-group-text">$</span>

                        </div>
                       
                    </div>
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="TeamLeadMemberId" class="control-label input-group-text"></label>
                            <select asp-for="TeamLeadMemberId" class="form-select" asp-items="ViewBag.TeamLeadMemberId" disabled="disabled" >
                                <option>Please Select</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="MarketingFee" class="control-label input-group-text"></label>
                            <input asp-for="MarketingFee" class="form-control" disabled="disabled" />
                            <span class="input-group-text">$</span>
                        </div>
                       
                    </div>
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="MarketingManagerMemberId" class="control-label input-group-text"></label>
                            <select asp-for="MarketingManagerMemberId" class="form-select" asp-items="ViewBag.MarketingManagerMemberId" disabled="disabled">
                                <option>Please Select</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <label asp-for="ReferralFees" class="input-group-text"></label>
                            <input asp-for="ReferralFees" class="form-control" disabled="disabled" />
                            <span class="input-group-text">$</span>
                        </div>
                       
                    </div>

                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="ReferredByMemberId" class="control-label input-group-text"></label>
                            <select asp-for="ReferredByMemberId" class="form-select" asp-items="ViewBag.ReferredByMemberId" disabled="disabled" >
                                <option>Please Select</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col">
                        @*<label asp-for="PlacementFee" class="control-label"></label>
                        <input asp-for="PlacementFee" class="form-control" />
                        <span asp-validation-for="PlacementFee" class="text-danger"></span>*@
                        <div class="input-group">
                            @*<span class="input-group-text">PlacementFee</span>*@
                            <label asp-for="PlacementFee" class="input-group-text"></label>
                            <input asp-for="PlacementFee" class="form-control" disabled="disabled" >
                            <span class="input-group-text">$</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            @*<span class="input-group-text" id="basic-addon1">Year</span>*@
                            <label asp-for="PlacedByMemberId" class="input-group-text"></label>
                            <select asp-for="PlacedByMemberId" class="form-select" asp-items="ViewBag.PlacedByMemberId" disabled="disabled" >
                                <option>Please Select</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group input-group">
                            <label asp-for="CreditCardCost" class="control-label input-group-text"></label>
                            <input asp-for="CreditCardCost" class="form-control" disabled="disabled" />
                            <span class="input-group-text">$</span>
                        </div>
                        
                    </div>

                    <div class="col">
                        <div class="form-group input-group">
                        <label asp-for="NetMargin" class="control-label input-group-text border-warning bg-warning"></label>
                        <input readonly asp-for="NetMargin" class="form-control bg-opacity-50 bg-warning border-warning" disabled="disabled" />

                        </div>
                        
                    </div>
                </div>
            </div>


           

        </div>
    </>

</div>



<div class="pt-4">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="@Url.Content("~/js/consultant.js")"></script>
}
