@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Application developed by <a target="_blank" href="https://www.hiteshpatel.dev/">Hitesh Patel</a>.</p>