@using System.Globalization;
@model ProjectManagement.Models.ViewModels.ConsultantByClientVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section id="ConsultantByClientSection">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Consultants by Client</h2>
        </div>
        <div class="input-group" style="width:150px;">
            <span class="input-group-text" id="yearDropdownLable">Year</span>
            <select name="consultantByClientYear" id="consultantByClientYear" class="form-select" asp-items="ViewBag.Year">
                <option value="-1">All</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        @if (Model != null && Model.ClientByConsultantList.Count() != 0)
        {
            <table id="ConsultantByClientTable" class="table table-striped table-bordered">
                <thead class="table-dark">

                    <tr>
                        <th>
                            Client
                        </th>

                        @foreach (var month in Model.ClientByConsultantList.GroupBy(x => x.Month).OrderBy(x => x.Key))
                        {
                            <th>
                                @DateTimeFormatInfo.CurrentInfo.GetMonthName(month.Key)
                            </th>
                        }

                    </tr>

                </thead>
                <tbody>
                    @{
                        foreach (var clientGroup in Model.ClientByConsultantList.GroupBy(x => x.Client).OrderBy(x => x.Key.ClientName))
                        {
                            <tr>
                                <th scope="row">
                                    @clientGroup.Key.ClientName
                                </th>
                                @foreach (var month in Model.ClientByConsultantList.GroupBy(x => x.Month).OrderBy(x => x.Key))
                                {
                                    <td NOWRAP>
                                        @{
                                            var ActiveConsultant = Model.ClientByConsultantList.Where(x => x.Client.Id == clientGroup.Key.Id).Where(x => x.Month == month.Key).FirstOrDefault()?.ActiveConsultants;
                                            var activeConsultantNumber = ActiveConsultant == null ? 0 : ActiveConsultant;
                                            @activeConsultantNumber
                                        }

                                    </td>
                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
        } else
        {
            <p>No Data Found</p>
        }
    </div>
    <script type="text/javascript">

        $('select[name="consultantByClientYear"]').change(function () {
            console.log('Test');
            var year = $(this).val();
            $('#ConsultantByClientPartial').load("/Dashboard/ConsultantByClientPartial?year=" + year);
        });

    </script>
</section>

