@using System.Globalization;
@model ProjectManagement.Models.ViewModels.ConsultantByClientVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<section class="card shadow" id="ConsultantByClientSection">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2>Consultants by Client</h2>
        </div>
        <ul style="list-style:none" class="list-group list-group-horizontal" id="consultantByClientFilters">
            <li style="margin-right:10px">
            <div class="input-group">
                <span class="input-group-text bg-dark fw-bold text-white border-dark" id="companyDropdownLable">Company</span>
                    <select onchange="addFilter()" name="consultantByClientCompany" id="consultantByClientCompany" class="form-select border-dark fw-bold" asp-items="ViewBag.CompanyList">
                </select>
            </div>
            </li>
            <li>
            <div class="input-group" style="width:150px;">
                <span class="input-group-text bg-dark fw-bold text-white border-dark" id="yearDropdownLable">Year</span>
                <select onchange="addFilter()" name="consultantByClientYear" id="consultantByClientYear" class="form-select border-dark fw-bold" asp-items="ViewBag.Year">
                </select>
            </div>
            </li>
        </ul>
    </div>
    <div class="card-body table-responsive">
        @if (Model != null && Model.ClientByConsultantList.Count() != 0)
        {
            <table id="ConsultantByClientTable" class="table table-striped table-bordered">
                <thead class="table-dark">

                    <tr>
                        <th>
                            Client
                        </th>

                        @foreach (var month in Model.ClientByConsultantList.GroupBy(x => x.Month).OrderBy(x => x.Key))
                        {
                            <th>
                                @DateTimeFormatInfo.CurrentInfo.GetMonthName(month.Key)
                            </th>
                        }

                    </tr>

                </thead>
                <tbody>
                    @{
                        foreach (var clientGroup in Model.ClientByConsultantList.GroupBy(x => x.Client).OrderBy(x => x.Key.ClientName))
                        {
                            <tr>
                                <th scope="row">
                                    @clientGroup.Key.ClientName
                                </th>
                                @foreach (var month in Model.ClientByConsultantList.GroupBy(x => x.Month).OrderBy(x => x.Key))
                                {
                                    <td NOWRAP>
                                        @{
                                            var ActiveConsultant = Model.ClientByConsultantList.Where(x => x.Client.Id == clientGroup.Key.Id).Where(x => x.Month == month.Key).FirstOrDefault()?.ActiveConsultants;
                                            var activeConsultantNumber = ActiveConsultant == null ? 0 : ActiveConsultant;
                                            @activeConsultantNumber
                                        }

                                    </td>
                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>No Data Found</p>
        }
    </div>
    <script type="text/javascript">

        function addFilter() {
            console.log('Test');
            var companyId = $('#consultantByClientCompany').val();
            var year = $('#consultantByClientYear').val();
            var companyId
            $('#ConsultantByClientPartial').load("/Dashboard/ConsultantByClientPartial?year=" + year + "&companyId=" + companyId);
        }

    </script>
</section>

